<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DBHelper" type="DataAccessLayer.HelperSection, DBHelper"/>
	</configSections>
	<DBHelper>
		<Default applicationName="Sendang.Rejeki" connectionStringName="ConnString"/>
		<Entities>
			<add assembly="DBHelper" connectionStringName="ConnString"/>
		</Entities>
	</DBHelper>
	<appSettings>
		<clear/>
		<add key="salt" value="sendangrejeki"/>
		<add key="inputKey" value="rezeki1234567890987654321"/>
		<add key="TopMargin" value="0"/>
		<add key="PageSize" value="25"/>
		<add key="CatalogUnit" value="Kg,Piece,Ekor,Col,Karung"/>

		<!--
    X adalah jarak horisontal dari batas kertas paling kiri
    diisi dengan angka, jika tidak akan diisi dengan angka nol
    -->
		<add key="X_No" value="7"/>
		<add key="X_Item" value="35"/>
		<add key="X_Colly" value="470"/>
		<add key="X_Qty" value="635"/>
		<add key="X_Harga" value="700"/>
		<add key="X_TotalHarga" value="800"/>

		<add key="purchase" value="29"/>
		<add key="salespoint" value="15"/>
		<add key="DecimalPoint" value="."/>
	</appSettings>
	<connectionStrings>
		<!--<clear/>
		<add name="ConnString" connectionString="server=localhost;uid=root;pwd=;database=dbsendangrejeki;Allow User Variables=True" providerName="MySql.Data.MySqlClient"/>-->
		
		<!--<add name="ConnString" connectionString="Data Source=DESKTOP-5BJROPJ\SQLSVR2K12;Initial Catalog=dbsendangrejeki;Persist Security Info=True;User ID=sa;Password=P@ssw0rd2024;" providerName="System.Data.SqlClient" />-->
	
    
    <!--<add name="ConnString" connectionString="Data Source=192.168.1.250;Initial Catalog=DBSENDANGREJEKI;Persist Security Info=True;User ID=sa;P@ssw0rd2024;" providerName="System.Data.SqlClient" />-->

    <add name="ConnString" connectionString="Server=DESKTOP-QIORND0\SQLEXPRESS01;Database=DBSENDANGREJEKI;Trusted_Connection=True;" providerName="System.Data.SqlClient" />

    
  </connectionStrings>
	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
