<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DBHelper" type="DataAccessLayer.HelperSection, DBHelper"/>
	</configSections>
	<DBHelper>
		<Default applicationName="Sendang.Rejeki" connectionStringName="ConnString"/>
		<Entities>
			<add assembly="DBHelper" connectionStringName="ConnString"/>
		</Entities>
	</DBHelper>
	<appSettings>
		<clear/>
		<add key="salt" value="sendangrejeki"/>
		<add key="inputKey" value="rezeki1234567890987654321"/>
		<add key="TopMargin" value="0"/>
		<add key="PageSize" value="25"/>
		<add key="CatalogUnit" value="Kg,Piece,Ekor,Col,Karung"/>
		
		<!--
    X adalah jarak horisontal dari batas kertas paling kiri
    diisi dengan angka, jika tidak akan diisi dengan angka nol
1	CASH	Payment
2	Bank Transfer	Payment
3	Credit	Payment
SM001	Truck	Shipment
SM002	Pickup	Shipment
SM003	Motor Bike	Shipment
TT001	COD	TradeTerms
IS001	Belum Dibayar	InvoiceStatus
IS002	Sudah Dibayar	InvoiceStatus
    -->
		<add key="X_No" value="7"/>
		<add key="X_Item" value="35"/>
		<add key="X_Colly" value="470"/>
		<add key="X_Qty" value="635"/>
		<add key="X_Harga" value="700"/>
		<add key="X_TotalHarga" value="800"/>
		<add key="purchase" value="29"/>
		<add key="salespoint" value="15"/>
		<add key="DecimalPoint" value="."/>
	</appSettings>
	<connectionStrings>
    <add name="ConnString" connectionString="Server=DESKTOP-QIORND0\SQLEXPRESS01;Database=DBSENDANGREJEKI_20251021;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
