SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_DeleteHPPByRange]
 @start date
 ,@end date
as
begin

 delete FROM hpp   where TransDate between @start and @end  

end
GO
