SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_InsertSale]
@TransactionID varchar(50),
@TransactionDate datetime,
@MemberID int =null,
@TotalPrice decimal(18,2),
@TotalQty varchar(1000),
@Terminal varchar(50)=null,
@TotalPayment decimal(18,2),
@TotalPaymentReturn decimal(18,2),
@Notes varchar(max)=null,
@PaymentType int=null,
--@UpdatedDate datetime,
--@UpdatedBy varchar(50),
@Username varchar(50)=null,
@ExpiredDate date=null
as
begin

INSERT INTO sale 
	(
		TransactionID, 
		TotalPrice, 
		TotalQty, 
		TransactionDate, 
		Username, 
		MemberID, 
		Terminal, 
		TotalPayment, 
		TotalPaymentReturn, 
		Notes, 
		PaymentType, 
		ExpiredDate,[Created],[CreatedBy]
	)
	VALUES
	(
		@TransactionID, 
		@TotalPrice, 
		@TotalQty, 
		@TransactionDate, 
		@Username, 
		@MemberID, 
		@Terminal, 
		@TotalPayment, 
		@TotalPaymentReturn, 
		@Notes, 
		@PaymentType, 
		@ExpiredDate, getdate(),@Username
	);
end



GO
