SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_UpdateReconcile] 
@transactionid varchar(50)
,@purchaseno varchar(100)
,@ID bigint
as 
begin

UPDATE reconcile 
	SET purchaseno = @purchaseno , 
	transactionid = @transactionid	
	WHERE ID = @ID 
end
GO
