SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdatePrevillage]
@MenuID int
           ,@RoleID int
           ,@AllowCreate bit
           ,@AllowRead bit
           ,@AllowUpdate bit
           ,@AllowDelete bit
           ,@AllowPrint bit
as
begin
UPDATE Previllage
   SET AllowCreate = @AllowCreate
      ,AllowRead = @AllowRead
      ,AllowUpdate = @AllowUpdate
      ,AllowDelete = @AllowDelete
      ,AllowPrint = @AllowPrint
  WHERE  
   MenuID = @MenuID and  RoleID = @RoleID
end


GO
