SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [Usp_UpdateSupplier]
@Code varchar(50)
           ,@Name varchar(500)
           ,@Address varchar(max)
           ,@Phone varchar(20)
           ,@CellPhone varchar(20)
           
           ,@ModifiedBy varchar(50)
as
begin
UPDATE Supplier
   SET Name = @Name
      ,Address = @Address
      ,Phone= @Phone
      ,CellPhone= @CellPhone
      ,ModifiedDate = getdate()
      ,ModifiedBy = @ModifiedBy
 WHERE Code=@Code
end



GO
