SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_UpdateActiveCatalogstock]
@CatalogID int
,@Stock decimal(18,2)
,@StockDate date
,@CreatedBy varchar(50)
,@colly decimal(18,2)
as

begin
UPDATE catalogstock 
	SET	
	Stock = @Stock, 
    Colly = @Colly, 
	StockDate = @StockDate, 
	CreatedBy = @CreatedBy	
	WHERE
	CatalogID = @CatalogID AND 	
	IsActive = 1

end
GO
