SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_GetAllPurchases]
--@TransactionDate date
as 
begin


SELECT sd.totalprice AS TotalPrice,
sd.PricePerUnit,
sd.Qty AS Quantity,
CAST(s.PurchaseDate AS DATE) AS PurchaseDate,
c.name AS CatalogName, 
sd.CatalogID  AS CatalogID, c.Unit
FROM purchasedetail sd
INNER JOIN Purchase s ON s.PurchaseNo= sd.PurchaseNo
INNER JOIN [Catalog] c ON sd.CatalogID= c.ID                                                                  
WHERE  c.Type ='Item'
ORDER BY CAST(s.PurchaseDate AS DATE) ,sd.CatalogID


end

GO
