SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertReconcileDetail] 
@CatalogID int
,@CatalogQty decimal(18,2)
,@CatalogPrice decimal(18,2)
,@ProductID int
,@ProductPrice decimal(18,2)
,@ProductQty decimal(18,2)
,@CreatedBy varchar(100)
,@CreatedDate datetime

,@ReconcileID bigint
,@CatalogPriceDate datetime
as 
begin

INSERT INTO reconciledetail 
	(
	CatalogID, 
	CatalogQty, 
	CatalogPrice, 
	ProductID, 
	ProductPrice, 
	ProductQty, 
	CreatedBy, 
	CreatedDate, 
	ReconcileID,
	CatalogPriceDate
	)
	VALUES
	(
	@CatalogID, 
	@CatalogQty, 
	@CatalogPrice, 
	@ProductID, 
	@ProductPrice, 
	@ProductQty, 
	@CreatedBy, 
	@CreatedDate, 
	@ReconcileID,
	@CatalogPriceDate
	);
end
GO
