SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetBuyPrices]
 @startDate date
 ,@endDate  date
as 
begin

SELECT CatalogID,c.Name AS CatalogName, c.Unit, 
pd.TotalPrice AS TotalBuyPrice, 
pd.Qty AS TotalQty, 
pd.TotalPrice AS TotalPrice, 
pd.PricePerUnit  AS BuyPrice, 
p.CreatedBy,
CAST(p.PurchaseDate  AS DATE) AS TransDate FROM purchasedetail pd
INNER JOIN purchase p ON p.PurchaseNo= pd.PurchaseNo 
INNER JOIN Catalog c ON c.ID = pd.CatalogID
WHERE CAST(p.PurchaseDate  AS DATE) BETWEEN @startDate AND @endDate
end
GO
