SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateExpiredDate]
@ExpiredDate date
,@TransactionID varchar(5)
as 
begin

UPDATE Sale
SET ExpiredDate =@ExpiredDate 
WHERE TransactionID =@TransactionID

end

GO
