SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetStockReport]
as
begin
	SELECT c.ID AS CatalogID, c.Name AS Catalog, 
	c.Unit AS Satuan
	,  (CASE WHEN k.Qty IS NULL THEN 0 ELSE k.Qty END ) AS Input
	, (CASE WHEN t.Qty IS NULL THEN 0 ELSE t.Qty END ) AS Output
	 ,0 +(CASE WHEN cs.Stock  IS NULL THEN 0 ELSE cs.Stock  END ) +  (CASE WHEN k.Qty IS NULL THEN 0 ELSE k.Qty END ) - (CASE WHEN t.Qty IS NULL THEN 0 ELSE t.Qty END ) AS Sisa 

	FROM Catalog c 
	LEFT JOIN CatalogStock cs ON cs.CatalogID = c.ID
	AND IsActive = 1
	LEFT JOIN (


	SELECT SUM(pd.Qty) AS Qty, CatalogID FROM purchasedetail pd
	GROUP BY CatalogID
	) k ON k.CatalogID= c.ID

	LEFT JOIN (

	SELECT SUM(pd.Quantity) AS Qty, CatalogID FROM saledetail pd
	GROUP BY CatalogID
	) t ON t.CatalogID= c.ID

	ORDER BY c.Name 

end
GO
