SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [GetTotalSalesPerCustomerMonthly]
@CustomerID int
,@currentDate datetime
as 
begin
SELECT c.Name AS Item ,SUM(sd.Quantity) AS Quantity,  SUM( sd.TotalPrice) AS TotalSalesAmount FROM SaleDetail sd
INNER JOIN Sale s ON s.TransactionID=sd.TransactionID
INNER JOIN [Catalog] c ON c.ID = sd.CatalogID
WHERE s.MemberID =@CustomerID
AND  FORMAT(s.TransactionDate, 'MMyyyy') = FORMAT(@currentDate,'MMyyyy')
GROUP BY c.Name  

end
GO
