SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetSumGrossProfitYearly]

@TransDate datetime
,@CatalogID int =0
as
begin

SELECT month(gp.TransDate ) [Month] ,day(gp.TransDate ) Sequence , 
year(gp.TransDate ) YEAR, 
SUM(gp.Sale) AS TotalSales, SUM(gp.GrossProfit) TotalGrossProfit FROM dailygrossprofit gp

WHERE year(gp.TransDate ) = year(@TransDate)

GROUP BY day(gp.TransDate ) ,month(gp.TransDate),year(gp.TransDate )

end

GO
