SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetHPPPerCatalogByRange]
@CatalogID int,
 @start date, 
 @end  date 
as
begin
 
 SELECT hpp.*, c.name AS CatalogName FROM hpp    
 LEFT JOIN Catalog c ON c.ID= hpp.CatalogID   
 where  hpp.CatalogID=@CatalogID   
 and TransDate between @start and @end   
 ORDER BY transdate desc  
          

end



GO
