SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetCatalogByName]
@text varchar(100)
as
begin
SELECT * FROM [catalog] 
WHERE Name LIKE concat ('%', @text ,'%') 
Order By Name

end
GO
