SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_UpdateMenu]

@ID int,
@Code varchar(100) ='' ,
@Name varchar(500)=''  ,
@ParentID int =0,
@Sequence int =0,
--@Ico image=null ,
@Description varchar(max)=''  ,
@ModifiedBy varchar(50) ='' 
as
begin

UPDATE Menu
   SET Code = @Code
      ,Name = @Name
      ,Description = @Description
      ,ParentID = @ParentID
      ,Sequence = @Sequence
      --,Ico = @Ico
	  ,ModifiedDate = getdate()
	  ,ModifiedBy =@ModifiedBy
 WHERE ID=@ID

end
GO
