SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetActiveCatalogStockByCatalogID]
@catalogID int
as
begin

SELECT * FROM CatalogStock
WHERE catalogID = @catalogID
AND IsActive =1 

end
GO
