SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalSalePerDay]
 @startDate date
 ,@endDate  date
as 
begin

SELECT  SUM( sd.totalprice) AS TotalSales, SUM(sd.Quantity) AS Qty, c.name AS  CatalogName ,sd.CatalogID, CAST(s.TransactionDate  AS DATE) AS TransactionDate, c.Unit FROM saleDetail sd
INNER JOIN Sale s ON s.TransactionID =sd.TransactionID 
INNER JOIN Catalog c ON c.ID =sd.CatalogID
WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile )
and  CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate

GROUP BY  CAST(s.TransactionDate  AS DATE) , sd.CatalogID ,c.name, c.Unit
end
GO
