SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalDailySalesDetail]
 @startDate date
 ,@endDate  date
as 
begin


--Tgl	No Transaksi	Customer	 Item 	 Qty 	Harga

SELECT CAST(s.transactiondate AS DATE) AS Tgl
,s.TransactionID NoTransaksi
,c.Fullname AS Customer
,cat.Name Item
,sum(sd.Quantity) Qty
,SUM(sd.totalprice) AS Harga
FROM SaleDetail sd
INNER JOIN Sale s ON s.transactionID = sd.transactionID
INNER JOIN Customer c ON s.MemberID = c.ID
inner join [catalog] cat on cat.ID = sd.CatalogID

WHERE CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate
GROUP BY CAST(s.transactiondate AS DATE) 
,s.TransactionID 
,c.Fullname  
,cat.Name 

end
GO
