SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetMonthlyGrossProfit]
@startDate date
,@endDate date
as
begin

SELECT c.ID AS CatalogID
, c.Name AS CatalogName
, c.Unit
, c.MONTH_YEAR 
, CASE WHEN tt.TotalSale IS NULL THEN 0 ELSE tt.TotalSale END AS TotalSale
, CASE WHEN yy.TotalPurchase IS NULL THEN 0 ELSE yy.TotalPurchase END AS TotalPurchase 
, ((CASE WHEN tt.TotalSale IS NULL THEN 0 ELSE tt.TotalSale END)-( CASE WHEN yy.TotalPurchase IS NULL THEN 0 ELSE yy.TotalPurchase END) ) AS MonthlyGrossProfit
, TempMonth
FROM (
SELECT temp2.ID,temp2.Name,temp2.Unit, FORMAT(tempMonth,'MMM yyyy') AS MONTH_YEAR, TempMonth 
FROM (
	SELECT DISTINCT TempMonth, [CatalogID] FROM 
	(
	SELECT cast( FORMAT(s.TransactionDate, 'yyyy-MM-1') as date) AS TempMonth, sd.[CatalogID]
	FROM [saledetail] sd
	inner join  sale s on s.[TransactionID] = sd.[TransactionID]
	WHERE s.transactionid NOT IN (SELECT DISTINCT transactionid FROM reconcile)
	UNION ALL
	SELECT cast( FORMAT(p.PurchaseDate , 'yyyy-MM-1') as date ) AS TempMonth , pd.[CatalogID]
	FROM [purchasedetail] pd
	inner join Purchase p on p.[PurchaseNo] =pd.[PurchaseNo]
	) as dates
) as temp1

JOIN  [Catalog] temp2 on temp2.ID =temp1.[CatalogID]
) as c

LEFT JOIN(
SELECT SUM(sd.totalPrice) AS TotalSale, FORMAT(s.transactiondate,'MMM yyyy') AS MONTH_YEAR ,sd.CatalogID FROM saleDetail sd
INNER JOIN Sale s ON sd.TransactionID =s.TransactionID
WHERE s.transactionid NOT IN (SELECT DISTINCT transactionid FROM reconcile)
GROUP BY  FORMAT(s.transactiondate,'MMM yyyy'),  sd.CatalogID 
) as tt ON tt.CatalogID = c.ID AND  tt.MONTH_YEAR = c.MONTH_YEAR


LEFT JOIN(
SELECT SUM(pd.totalPrice) AS TotalPurchase,  FORMAT(p.PurchaseDate,'MMM yyyy') AS MONTH_YEAR , pd.CatalogID FROM PurchaseDetail pd
INNER JOIN Purchase p ON pd.PurchaseNo =p.PurchaseNo 
WHERE pd.purchaseno NOT IN (SELECT DISTINCT purchaseno FROM reconcile)
GROUP BY  FORMAT(p.PurchaseDate,'MMM yyyy'),  pd.CatalogID
) as yy ON yy.CatalogID =c.ID AND yy.MONTH_YEAR = c.MONTH_YEAR

WHERE  (totalSale >0 OR totalpurchase >0)
AND TempMonth BETWEEN @startDate AND @endDate

end
GO
