SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetHPPPerCatalogByDate]
@CatalogID int,
@TransDate date 
as
begin
 

   SELECT hpp.*, c.name AS CatalogName FROM hpp    LEFT JOIN Catalog c ON c.ID= hpp.CatalogID   
   WHERE TransDate = @TransDate and hpp.CatalogID=@CatalogID     
       

end



GO
