SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateRole]
@ID int
,@Name varchar(100)
           ,@Description varchar(1000)
           --,@CreatedDate datetime
           --,@CreatedBy varchar(20)
           --,@ModifiedDate datetime
           ,@ModifiedBy varchar(20)
as
begin
    UPDATE [Role]
   SET Name = @Name
      ,Description = @Description      
      ,ModifiedDate = getdate()
      ,ModifiedBy = @ModifiedBy
 WHERE ID=@ID
end
GO
