SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateUserPassword]
 @Username varchar(50),
 @Password varchar(1000)
 
as 
begin
update [User]
           set Password =@Password
          , IsActive=1
		  where Username=@Username
end
GO
