SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetAllColiPurchase]
as
begin


SELECT SUM( isnull(Coli,0)) AS TotalColi, CatalogID FROM Purchasedetail
GROUP BY CatalogID
end
GO
