SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetLastHPP]
  @CatalogID int
, @TransDate date
as
begin
  
SELECT top 1 hpp.*, c.name AS CatalogName FROM hpp    
LEFT JOIN Catalog c ON c.ID= hpp.CatalogID   
WHERE CatalogID=@catalogID and  TransDate < @TransDate    
ORDER BY transDate DESC   
      
end
GO
