SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateTodayCatalogStock]
@CatalogID int
,@Stock decimal (18,2)
,@Username varchar(50)
,@StockDate date
as
begin

Update catalogstock 
Set Stock = @Stock,
CreatedBy = @Username 
Where CatalogID =@CatalogID 
AND StockDate =@StockDate

end
GO
