SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_InsertCatalogStock]
@CatalogID int
,@StockDate date
,@Username varchar(50)
, @Stock decimal(18,2)
as
begin


Update CatalogStock Set IsActive = 0
where CatalogID =@CatalogID And IsActive = 1;

INSERT INTO catalogstock 
	(CatalogID, 
	Stock, 
	StockDate, 
	CreatedBy, 
	IsActive
	)
	VALUES
	(@CatalogID, 
	@Stock, 
	@StockDate, 
	@Username, 
	1 );

end



GO
