SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetCatalogByNameUnit]
@Name varchar(100)
,@Unit varchar(10)
as
begin
select * from [Catalog]
where Name  =@Name
and Unit = @Unit
end
GO
