SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalSalesPerCustomer]

@CustomerID int
,@currentDate date
as
begin


SELECT SUM(sd.Quantity) AS TotalQty, sd.CatalogID, c.Name AS CatalogName, FORMAT(s.TransactionDate, 'yyyy/MM/1')  AS Bulan  FROM SaleDetail sd
INNER JOIN Sale s ON sd.TransactionID = s.TransactionID 
INNER JOIN Catalog c ON c.ID = sd.CatalogID
WHERE memberid =@CustomerID
AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')

GROUP BY FORMAT(s.TransactionDate, 'yyyy/MM/1'), sd.CatalogID , c.Name

end
GO
