SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetReconcileDetailByReconcileID]
@ReconcileID int
as
begin

SELECT * FROM reconcileDetail
WHERE ReconcileID =@ReconcileID
end
GO
