SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_UpdateCatalogprice]
@CatalogID int
           ,@BuyPricePerunit decimal(18,2)
           ,@SellPrice decimal(18,2)
           ,@PriceDate datetime
           ,@Username varchar(50)
as

begin
UPDATE catalogprice 
	SET
	BuyPricePerUnit = @BuyPricePerUnit, CreatedBy =@Username
	WHERE
	CatalogID = @CatalogID
	AND PriceDate =@PriceDate
end
GO
