SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetActiveByCatalogID]
@CatalogID int
as
begin

select top 1* from CatalogStock where CatalogID=@CatalogID and IsActive=1
order by StockDate DESC

end
GO
