SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetSalePaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT s.* 
into #temp  
from Sale s
LEFT JOIN customer c ON s.MemberID = c.ID
WHERE ( s.TransactionID LIKE concat ('%', @text ,'%') 
OR s.Notes LIKE concat ('%', @text ,'%') 
OR c.Fullname like concat ('%', @text ,'%') )
AND s.TransactionID NOT IN( SELECT DISTINCT TransactionID FROM reconcile)


select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY TransactionDate 
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
