SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetSupplierPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT *
into #temp
FROM Supplier 

WHERE Name LIKE concat ('%', @text ,'%') 
OR Phone LIKE concat ('%', @text ,'%') 
OR CellPhone LIKE concat ('%', @text ,'%') 

select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY Name
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
