SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetAllCurrentStock]
@text varchar(100)
as 

begin
SELECT c.ID AS CatalogID, c.Name AS CatalogName,  isnull(cs.Stock ,0) AS Stock,
c.Unit
FROM Catalog c 
LEFT JOIN CurrentStock cs ON c.ID = cs.CatalogID
where c.Name LIKE concat ('%', @text ,'%') 
end



GO
