SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetPerCustomerPerYear]
@CatalogID int
,@CustomerID int
,@currentDate date
as
begin
SELECT c.Name AS CatalogName, c.ID AS CatalogID,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '01') AS Januari,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '02') AS Februari,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '03') AS Maret,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '04') AS April,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '05') AS Mei,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '06') AS Juni,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '07') AS Juli,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '08') AS Agustus,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '09') AS September,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '10') AS Oktober,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '11') AS November,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')  AND FORMAT(s.TransactionDate, 'MM' ) = '12') AS Desember

FROM [Catalog] c
WHERE ID =@CatalogID

end
GO
