SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATING A PAGING WITH OFFSET and FETCH clauses IN "SQL SERVER 2012"

CREATE proc [Usp_GetUserPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin


SELECT * into #temp
FROM [User]
where Username like concat ('%', @text ,'%') 


select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY Username
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
