SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateSaleDetail]
@ID int
           ,@CatalogID int
           ,@Price decimal(18,2)
           ,@Discount decimal(18,2)
           ,@Quantity decimal(18,2)
           ,@TotalPrice decimal(18,2)
           ,@Sequence int
as
begin
UPDATE saledetail 
	SET	
	CatalogID = @CatalogID , 
	Price = @Price , 
	Discount = @Discount , 
	Quantity = @Quantity , 
	TotalPrice = @TotalPrice , 
	Sequence = @Sequence	
	WHERE
	ID = @ID ;
end



GO
