SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetCatalogStockByCatalogID]
@catalogID int
as
begin

SELECT top 1 * FROM catalogstock WHERE CatalogID=@CatalogID
ORDER BY StockDate DESC


end
GO
