SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetCatalogStockPaging]
  @text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin


SELECT Main.CatalogID
, Main.CatalogName
, Main.Unit
, CatalogDate AS StockDate
, CASE WHEN cs.Stock IS NULL THEN 0 ELSE cs.Stock END AS Stock
, CASE WHEN s.TotalSale IS NULL THEN 0 ELSE s.TotalSale END AS TotalSale
, CASE WHEN  p.TotalPurchase IS NULL THEN 0 ELSE  p.TotalPurchase  END AS TotalPurchase  
into #temp
FROM (
	SELECT DISTINCT CatalogDate, ctl.ID AS CatalogID , ctl.Name AS CatalogName, ctl.Unit 
	FROM (
		SELECT pricedate AS CatalogDate FROM catalogPrice
		UNION ALL
		SELECT stockDate AS CatalogDate FROM catalogStock
	) dates
	JOIN [Catalog] ctl ON ctl.ID != dates.CatalogDate
) Main
LEFT JOIN catalogstock cs ON Main.CatalogID =cs.CatalogID AND cs.StockDate = Main.CatalogDate


LEFT JOIN (
	SELECT SUM(sd.Quantity) AS TotalSale,  FORMAT(s.TransactionDate, 'yyyy-MM-dd') AS TransactionDate, sd.CatalogID FROM  SaleDetail sd
	INNER JOIN Sale s ON sd.TransactionID =s.TransactionID 
	GROUP BY FORMAT(s.TransactionDate, 'yyyy-MM-dd'), sd.CatalogID
) s ON s.CatalogID =Main.CatalogID  AND s.TransactionDate=Main.CatalogDate

LEFT JOIN (
	SELECT SUM(pd.Qty) AS TotalPurchase,  FORMAT(p.PurchaseDate, 'yyyy-MM-dd') AS PurchaseDate, pd.CatalogID FROM  PurchaseDetail pd
	INNER JOIN Purchase p ON pd.PurchaseNo =p.PurchaseNo
	GROUP BY FORMAT(p.PurchaseDate, 'yyyy-MM-dd'), pd.CatalogID
) p ON p.CatalogID =Main.CatalogID AND p.PurchaseDate=Main.CatalogDate
WHERE Main.CatalogName LIKE concat ('%', @text ,'%') 
--ORDER BY Main.CatalogDate DESC, Main.CatalogID



select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY StockDate DESC, CatalogID
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
