SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_UpdateUser]
@Username varchar(50)
,@IPAddress varchar(15)
,@MachineName varchar(100)
as
begin
UPDATE [User]
   SET LastLogin =  getdate()
      ,IsLogin = 1
      ,IPAddress = @IPAddress
      ,MachineName = @MachineName      
 WHERE  Username = @Username
 end
GO
