SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [Usp_UpdateSaleBySale]
@TransactionID varchar(50)
,@UpdatedDate datetime
,@UpdatedBy varchar(50)
as begin
Update Sale Set UpdatedDate=@UpdatedDate, UpdatedBy=@UpdatedBy where TransactionID=@TransactionID 
end

GO
