SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetGrossProfitYearly]

@TransDate date
as
begin
SELECT 	gp.TransDate as TransDate , 
	gp.CatalogID AS ItemID, 
	c.Name AS Item,
	gp.Quantity, 
	gp.Purchase, 
	gp.Sale, 
	gp.GrossProfit,
	hpp.TotalHPP AS HPP,
	c.Unit FROM dailygrossprofit gp
	LEFT JOIN hpp ON hpp.TransDate = gp.TransDate AND hpp.CatalogID = gp.CatalogID
	INNER JOIN Catalog c ON c.ID=gp.CatalogID
	
WHERE year(gp.TransDate) = year(@TransDate) 
end


GO
