SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_DeleteSaledetailByTransactionID]
@TransactionID varchar(50)
as 
begin
Delete from saledetail where TransactionID=@TransactionID 
end
GO
