SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_DeleteUserRole]
 @Username varchar(50)
 
 
as 
begin
                    
DELETE FROM UserRole
      WHERE Username =@Username
end
GO
