SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_GetCatalogPricePaging]

@SupplierCode varchar(50) =NULL
,@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT cp.*, s.Name AS SupplierName, c.Name AS CatalogName 
into #temp
FROM catalogprice cp 
LEFT JOIN Supplier s ON s.Code = cp.SupplierCode 
INNER JOIN Catalog c ON c.ID = cp.CatalogID 
WHERE (c.Name LIKE concat ('%', @text ,'%') OR s.Name LIKE concat ('%', @text ,'%') ) 
AND ( SupplierCode=@SupplierCode OR ISNULL(@SupplierCode,'') ='' )

select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY PriceDate DESC ,CatalogID ASC
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
