SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_InsertPurchaseDetail]
@PurchaseNo varchar(100)
           ,@CatalogID int=0
           ,@Qty decimal(18,2)
           ,@PricePerUnit decimal(18,2)
           ,@CreatedDate datetime
           ,@CreatedBy varchar(50)=null
           ,@TotalPrice decimal(18,2)
           ,@Unit varchar(50)
           ,@coli decimal(18,2)=null
as
begin


INSERT INTO purchasedetail 
	(PurchaseNo, 
	CatalogID, 
	Qty, 
	PricePerUnit, 
	CreatedDate, 
	CreatedBy, 
	TotalPrice, 
	Unit,Coli
	)
	VALUES
	(@PurchaseNo, 
	@CatalogID, 
	@Qty, 
	@PricePerUnit, 
	@CreatedDate, 
	@CreatedBy, 
	@TotalPrice, 
	@Unit,@Coli
	);

end
GO
