SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetPrevBuyPrices]
 @startDate date
 ,@CatalogID  int
as 
begin

SELECT CatalogID,c.Name AS CatalogName, c.Unit, 
SUM(pd.TotalPrice ) TotalBuyPrice, 
SUM(pd.Qty) AS TotalQty, 
SUM(pd.PricePerUnit) AS TotalPrice, 
SUM(pd.PricePerUnit)/COUNT(1) AS BuyPrice, 
CAST(p.PurchaseDate  AS DATE) AS TransDate, COUNT(1) AS TotalItem 
FROM purchasedetail pd
INNER JOIN purchase p ON p.PurchaseNo= pd.PurchaseNo 
INNER JOIN [Catalog] c ON c.ID = pd.CatalogID
where  p.PurchaseNo NOT IN (SELECT DISTINCT purchaseno FROM reconcile  )
AND CAST(p.PurchaseDate  AS DATE)  < CAST(@startDate  AS DATE)  and pd.CatalogID =@CatalogID
GROUP BY CatalogID, c.Name,c.Unit  ,CAST(p.PurchaseDate  AS DATE)
end
GO
