SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetGrossProfitPermonth]

 @CurrentDate  date 
as
begin          


SELECT  cast(s.TransactionDate  as date) AS TransDate, c.Name Item,  c.ID ItemID, c.Unit, SUM(sd.Quantity) Quantity,
h.TotalHPP HPP, SUM(sd.Quantity) * h.TotalHPP AS Purchase, SUM(s.TotalPrice) AS Sale, 0 as GrossProfit

FROM SaleDetail sd
INNER JOIN Sale s ON s.TransactionId = sd.TransactionID
INNER JOIN Catalog c  ON c.ID = sd.CatalogID

LEFT JOIN HPP h ON cast(h.TransDate as date) = cast(s.TransactionDate as date) AND  h.CatalogID = sd.CatalogID
WHERE c.Type ='Item' AND  FORMAT( s.TransactionDate, 'MM/yyyy') =  FORMAT( @CurrentDate, 'MM/yyyy')
 
GROUP BY cast(s.TransactionDate  as date ) , c.ID, c.Name, c.Unit, h.TotalHPP

end



GO
