SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_InsertSaleDetailWithColi] 
@TransactionID varchar(50)
,@CatalogID int
,@Price decimal(18,2)
,@Discount decimal(18,2)
,@Quantity decimal(18,2)
,@TotalPrice decimal(18,2)
,@Coli decimal(18,2)=0
,@Sequence int
as
begin
INSERT INTO saledetail 
	( 
		TransactionID, 
		CatalogID, 
		Price, 
		Discount, 
		Quantity, 
		TotalPrice,Sequence,Coli
	)
	VALUES
	(
		@TransactionID, 
		@CatalogID, 
		@Price, 
		@Discount, 
		@Quantity, 
		@TotalPrice,@Sequence,@Coli
	);
end



GO
