SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetSaleNewIndex]
@TransactionDate date
as 
begin
SELECT top 1 transactionid FROM Sale
  WHERE transactionid NOT IN (SELECT DISTINCT transactionid FROM reconcile )
  AND CAST(transactiondate AS DATE) = CAST(@TransactionDate AS DATE)
  ORDER BY transactiondate DESC

  end

GO
