SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_DeleteSaleByTransactionID]
@TransactionID varchar(50)
as 
begin
Delete from sale where TransactionID=@TransactionID
end
GO
