SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_UpdateDailyGrossProfit]

@TransDate datetime
,  @CatalogID int=0
,  @Quantity decimal(18,2)=0
,  @Purchase decimal(18,2)=0
,  @Sale decimal(18,2)=0
,  @GrossProfit decimal(18,2)=0
as
begin
Delete from dailygrossprofit  where TransDate =@TransDate and CatalogID =@CatalogID;
INSERT INTO dailygrossprofit  (TransDate,   CatalogID,  Quantity,  Purchase,  Sale,  GrossProfit ) 
VALUES ( @TransDate,  @CatalogID,  @Quantity,  @Purchase,  @Sale,  @GrossProfit );
end

GO
