SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetPrevillageByUsername]
@Username varchar(50)
as
begin
        SELECT p.* FROM previllage p 
INNER JOIN UserRole ur ON ur.RoleID =p.ROleID
WHERE ur.Username =@Username

end
GO
