SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetCatalogPrice]
as
begin
SELECT cp.*, s.Name AS SupplierName, c.Name AS CatalogName FROM catalogprice cp 
LEFT JOIN Supplier s ON s.Code = cp.SupplierCode 
INNER JOIN [Catalog] c ON c.ID = cp.CatalogID 
ORDER BY PriceDate DESC 
end
GO
