SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetPurchaseDetail]
as 

begin

SELECT d.*, c.Name AS CatalogName FROM PurchaseDetail d
INNER JOIN catalog c ON c.ID = d.CatalogID

end



GO
