SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [GetHargaBeliRata]
@catalogID int
, @PurchaseDate date
as
begin

select top 2 * from (
SELECT SUM(CASE WHEN a.PricePerUnit IS NULL THEN 0 ELSE a.PricePerUnit END) / COUNT(1) AS PricePerUnit, COUNT(1) AS totalItem,  CAST(b.PurchaseDate AS DATE) AS PurchaseDate FROM purchasedetail a
INNER JOIN Purchase b  ON a.PurchaseNo =b.PurchaseNo 
WHERE a.catalogID =  @catalogID AND CAST( b.PurchaseDate as Date) <=  @PurchaseDate 
GROUP BY CAST(b.PurchaseDate AS DATE) , a.CatalogID
) t

ORDER BY t.PurchaseDate DESC



end
GO
