SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalPurchasesPerSupplierMonthly]
@currentDate date
,@SupplierCode varchar(20)
as 

begin

SELECT c.Name AS Item ,SUM(sd.Qty) AS Quantity, SUM(sd.TotalPrice) AS TotalPurchasesAmount 
FROM purchasedetail sd
INNER JOIN purchase s ON s.PurchaseNo=sd.PurchaseNo
INNER JOIN Catalog c ON c.ID = sd.CatalogID
WHERE s.SupplierCode =@SupplierCode AND  FORMAT(s.PurchaseDate, 'MMyyyy') = FORMAT(@currentDate,'MMyyyy')
GROUP BY c.Name  

end



GO
