SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_UpdateCatalog]
@ID int
,@Name varchar(100)
,@Unit varchar(10)
,@Type varchar(20)
,@ModifiedBy varchar(20)=''
as
begin


UPDATE [Catalog]
   SET Name = @Name

        ,Unit =@Unit
      ,ModifiedDate = getdate()
      ,ModifiedBy = @ModifiedBy
      ,[Type] =@Type
       
 WHERE ID=@ID ;

select * from [Catalog]
WHERE ID=@ID

end
GO
