SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertCustomer]
@FullName varchar(500) 
,@Address varchar(2000) 
,@Phone varchar(50) 
,@CreatedBy varchar(50) 
--,@CreatedDate datetime 
--,@ModifiedBy varchar(50) 
--,@ModifiedDate datetime
as
begin



INSERT INTO customer 
	(
	FullName, 
	Address, 
	Phone       ,CreatedDate
           ,CreatedBy
	)
	VALUES
	(
	@FullName, 
	@Address, 
	@Phone, getdate(), @CreatedBy
	);
end
GO
