SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateCatalogStockByDate]
@CatalogID int
,@StockDate date
,@Username varchar(20)
, @Stock decimal(18,2)
as
begin

Update CatalogStock Set IsActive = 0
where CatalogID =@CatalogID And IsActive = 1;
         
Update CatalogStock 
Set Stock = @Stock,
CreatedBy = @Username ,
IsActive = 1
Where CatalogID =@CatalogID and StockDate =@StockDate

end



GO
