SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetPerformancePerMonth]
 @startDate date
 ,@endDate  date
as 
begin

SELECT SUM(sd.totalprice) AS TOTAL_SALE,
FORMAT(s.transactiondate,'MMM yyyy') AS MONTH_YEAR,
 FORMAT(s.transactiondate,'yyyy/MM/01') AS YEAR_MONTH_DAY
FROM SaleDetail sd
INNER JOIN Sale s ON s.transactionID = sd.transactionID
INNER JOIN Catalog c ON sd.CatalogID = c.ID
WHERE  s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile )
AND CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate 
GROUP BY FORMAT(s.transactiondate,'MMM yyyy'), FORMAT(s.transactiondate,'yyyy/MM/01') 

end
GO
