SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetGrossProfit]

@TransDate date
as
begin
SELECT 	gp.TransDate as TransDate , 
	gp.CatalogID AS ItemID, 
	c.Name AS Item,
	gp.Quantity, 
	gp.Purchase, 
	gp.Sale, 
	gp.GrossProfit,
	hpp.TotalHPP AS HPP,
	c.Unit FROM dailygrossprofit gp
	LEFT JOIN hpp ON hpp.TransDate = gp.TransDate AND hpp.CatalogID = gp.CatalogID
	INNER JOIN Catalog c ON c.ID=gp.CatalogID
	
WHERE  convert(varchar(7), gp.TransDate, 126) =  convert(varchar(7),@TransDate, 126)  
end

GO
