SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalSalesPerMonth]
@CurrentDate date
as
begin
SELECT  FORMAT( s.TransactionDate, 'M-yyyy') AS Bulan,
sd.CatalogID, SUM( sd.Price * sd.Quantity) AS Sales FROM SaleDetail sd
INNER JOIN Sale s ON s.TransactionId = sd.TransactionID
INNER JOIN [Catalog] c ON c.ID = sd.CatalogID
WHERE  FORMAT( s.TransactionDate, 'M-yyyy') =  FORMAT( @CurrentDate, 'M-yyyy')
AND c.Type ='Item'
GROUP BY FORMAT( s.TransactionDate, 'M-yyyy'),sd.CatalogID

end
GO
