SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_UpdateHPPByTransDateAndCatalogID]
@CatalogID int
,@TransDate date
,@hpp decimal(18,2)
,@PrevStock decimal(18,2)
,@PrevHPP decimal(18,2)
,@TotalQty decimal(18,2)
,@TotalPrice decimal(18,2)
as
begin
  Update hpp    
  set 
  TotalHpp =@hpp,      
  PrevStock = @PrevStock,       
  PrevHPP = @PrevHPP,       
  TotalQty = @TotalQty,       
  TotalPrice = @TotalPrice   
  WHERE TransDate = @TransDate AND CatalogID =@CatalogID    
end
GO
