SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 create proc [Usp_InsertUser]
 @Username varchar(50),
 @Password varchar(1000)
 as
 begin
 INSERT INTO [User]
           (Username
           ,Password
          , IsActive)
     VALUES
           (@Username
           ,@Password
           ,1)

END
GO
