SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetPerCustomerPerMonth]
@CatalogID int
,@CustomerID int
,@currentDate date
as
begin

SELECT c.Name AS CatalogName, c.ID as CatalogID,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '01') AS Col01,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '02') AS Col02,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '03') AS Col03,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '04') AS Col04,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '05') AS Col05,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '06') AS Col06,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '07') AS Col07,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '08') AS Col08,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '09') AS Col09,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '10') AS Col10,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '11') AS Col11,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '12') AS Col12,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '13') AS Col13,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '14') AS Col14,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '15') AS Col15,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '16') AS Col16,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '17') AS Col17,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '18') AS Col18,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '19') AS Col19,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '20') AS Col20,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '21') AS Col21,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '22') AS Col22,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '23') AS Col23,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '24') AS Col24,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '25') AS Col25,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '26') AS Col26,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '27') AS Col27,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '28') AS Col28,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '29') AS Col29,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '30') AS Col30,
(SELECT SUM(sd.Quantity) AS Qty FROM saledetail sd INNER JOIN sale s ON s.TransactionID=sd.TransactionID WHERE sd.CatalogID=@CatalogID AND s.MemberID =@CustomerID  AND FORMAT(s.TransactionDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy')  AND FORMAT(s.TransactionDate, 'dd' ) = '31') AS Col31
FROM Catalog c
WHERE ID =@CatalogID

end
GO
