SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_IsExistHPP]
@CatalogID int
,@TransDate date
as
begin
 
  SELECT  COUNT(*) FROM hpp    WHERE TransDate = @TransDate AND CatalogID =@CatalogID  
end
GO
