SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetAllCatalogStockByCatalogID]
@CatalogID int
as
begin

SELECT c.ID AS CatalogID, c.Name AS CatalogName, 
c.Unit, cs.Stock, cs.StockDate
FROM [Catalog] c 
LEFT JOIN CatalogStock cs ON cs.CatalogID = c.ID
AND IsActive = 1
where cs.CatalogID=@CatalogID
end



GO
