SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [Usp_GetTotalPurchasesPerSupplierDaily]
@SupplierCode varchar(20)=null
,@from date =null
,@to date = null
as 

begin


--declare
--@SupplierCode varchar(20)=null
--,@from date =null
--,@to date = null

SELECT supp.Name Supplier, supp.Code SupplierCode, cast( s.PurchaseDate as date) PurchaseDate, SUM(sd.TotalPrice) AS TotalAmount 
FROM purchasedetail sd
INNER JOIN purchase s ON s.PurchaseNo=sd.PurchaseNo
INNER JOIN [dbo].[supplier] supp ON supp.Code = s.SupplierCode
WHERE ( s.SupplierCode =@SupplierCode or isnull(@SupplierCode,'') ='' )
AND ( cast( s.PurchaseDate as date) >=@from or @from is null)
AND ( cast( s.PurchaseDate as date) <=@to or @to is null)
GROUP BY supp.Name, supp.Code,  cast( s.PurchaseDate as date)

end



GO
