SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetCatalogByCustomer]

@CustomerID int
,@currentDate date
as
begin


SELECT c.*, sd.CatalogID 
FROM SaleDetail sd
inner join Sale s on s.TransactionID= sd.TransactionID
INNER JOIN [Catalog] c ON c.id=sd.CatalogID
WHERE s.MemberID =@CustomerID
AND FORMAT(s.TransactionDate, 'yyyy') = FORMAT(@currentDate,'yyyy')
ORDER BY c.id

end
GO
