SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetCurrentStockPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT c.ID AS CatalogID, c.Name AS CatalogName, 
c.Unit, 
0 +(CASE WHEN cs.Stock  IS NULL THEN 0 ELSE cs.Stock  END ) +  (CASE WHEN k.Qty IS NULL THEN 0 ELSE k.Qty END ) - (CASE WHEN t.Qty IS NULL THEN 0 ELSE t.Qty END )AS Stock ,
0 +(CASE WHEN cs.Colly  IS NULL THEN 0 ELSE cs.Colly  END ) +  (CASE WHEN k.Colly IS NULL THEN 0 ELSE k.Colly END ) - (CASE WHEN t.Colly IS NULL THEN 0 ELSE t.Colly END )AS Coli ,
cs.StockDate
into #temp
FROM [Catalog] c 
LEFT JOIN CatalogStock cs ON cs.CatalogID = c.ID
AND IsActive = 1
LEFT JOIN (


SELECT SUM(pd.Qty) AS Qty, SUM(pd.Coli) AS Colly, CatalogID FROM purchasedetail pd
GROUP BY CatalogID
) k ON k.CatalogID= c.ID

LEFT JOIN (

SELECT SUM(pd.Quantity) AS Qty, SUM(pd.COli) AS Colly, CatalogID FROM saledetail pd
GROUP BY CatalogID
) t ON t.CatalogID = c.ID

where c.Name LIKE concat ('%', @text ,'%') 


select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY CatalogName 
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp

end
GO
