SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertAndGetCustomer]
@FullName varchar(500) 
,@Address varchar(2000) 
,@Phone varchar(50) 
,@CreatedBy varchar(50) 
--,@CreatedDate datetime 
--,@ModifiedBy varchar(50) 
--,@ModifiedDate datetime
as
begin


INSERT INTO customer  ( FullName,Address, CreatedDate ,CreatedBy )
	VALUES ( @FullName,@Address,  getdate(), @CreatedBy );

Select * from Customer where ID = scope_identity();

end
GO
