SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetByCatalogIDTransDate]
@CatalogID int
,@StockDate date
as
begin

select * from CatalogStock where CatalogID=@CatalogID
and cast( StockDate as date) =@StockDate

end
GO
