SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetHPPByRangeAndCatalogID]
 @start date
 ,@end date
 ,@CatalogID int
as
begin
 Select * FROM hpp    WHERE CatalogID =@CatalogID AND    TransDate between @Start and @End   
end
GO
