SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalSales]

as
begin


SELECT SUM(sd.Quantity) AS TotalSale, sd.CatalogID FROM SaleDetail sd
INNER JOIN Sale s ON sd.TransactionID = s.TransactionID 
GROUP BY  sd.CatalogID

end
GO
