SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_InsertHPP]
  @CatalogID int
, @TransDate date
, @TotalHPP decimal(18,2)
, @PrevStock decimal(18,2)
, @PrevHPP decimal(18,2)
, @TotalQty decimal(18,2)
, @TotalPrice decimal(18,2)
as
begin
 
    INSERT INTO hpp       (TransDate,       TotalHPP,       CatalogId,      PrevStock,       PrevHPP,       TotalQty,       TotalPrice      )      
	VALUES      (@TransDate,       @TotalHPP,       @CatalogId,      @PrevStock,       @PrevHPP,       @TotalQty,       @TotalPrice      );   
      
end
GO
