SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetDailySalesPerCatalog]
@startDate date
,@endDate  date
as 

begin

SELECT SUM(sd.totalprice) AS TOTAL_SALE,
SUM(sd.Quantity) AS Quantity,
CAST(s.transactiondate AS DATE) AS YEAR_MONTH_DAY,
FORMAT(s.transactiondate,'dd MMM yyyy') AS MONTH_YEAR,
c.name AS CATALOG_NAME, 
sd.CatalogID  AS CATALOG_ID, c.Unit
FROM SaleDetail sd
INNER JOIN Sale s ON s.transactionID = sd.transactionID
INNER JOIN Catalog c ON sd.CatalogID= c.ID                                                                  


WHERE  s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile )
AND CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate
GROUP BY CAST(s.transactiondate AS DATE),FORMAT(s.transactiondate,'dd MMM yyyy')  ,sd.CatalogID, c.name ,c.Unit

end






GO
