SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_InserCatalog]
@Name varchar(100)
,@Unit varchar(10)
,@Type varchar(20)
,@CreatedBy varchar(20)=''
as
begin

INSERT INTO [Catalog]
           (Name
           ,CreatedDate
           ,CreatedBy, Unit,[Type])
     VALUES
           (@Name
           , getdate()
           ,@CreatedBy,@Unit,@Type);


SELECT * FROM [Catalog] WHERE id = scope_identity();
end
GO
