SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [Usp_GetAllColiSales]
as
begin

SELECT SUM( isnull(Coli,0) ) AS TotalColi, CatalogID FROM saledetail
GROUP BY catalogID

end
GO
