SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdatePurchase]
@PurchaseNo varchar(100)
           ,@PurchaseDate datetime
           ,@Notes varchar(max)       
           ,@SupplierCode varchar(50)
           ,@TotalQty decimal(18,2)
           ,@TotalPrice decimal(18,2)
as
begin

UPDATE purchase 
	SET Notes = @Notes, 
	TotalQty = @TotalQty,
	TotalPrice = @TotalPrice,
	PurchaseDate = @PurchaseDate,
	SupplierCode = @SupplierCode
WHERE
	PurchaseNo = @PurchaseNo

end
GO
