SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [Usp_GetCatalogStockByRange]
 @startDate date
 ,@endDate date

 as
 begin

SELECT 
Main.CatalogID, 
Main.CatalogName, 
Main.Unit, 
CatalogDate AS StockDate,

0 + (CASE WHEN cs.Stock  IS NULL THEN 0 ELSE cs.Stock  END )  +  (CASE WHEN k.Qty IS NULL THEN 0 ELSE k.Qty END ) - (CASE WHEN t.Qty IS NULL THEN 0 ELSE t.Qty END )  AS Stock

,CASE WHEN s.TotalSale IS NULL THEN 0 ELSE s.TotalSale END AS TotalSale, 0 + (CASE WHEN  p.TotalPurchase IS NULL THEN 0 ELSE  p.TotalPurchase  END) + (CASE WHEN cs.Stock  IS NULL THEN 0 ELSE cs.Stock  END )  AS TotalPurchase  

FROM (
SELECT DISTINCT CatalogDate, ctl.ID AS CatalogID , ctl.Name AS CatalogName, ctl.Unit FROM 
(
	SELECT DISTINCT * FROM (
		SELECT CAST(s.TransactionDate AS DATE) AS CatalogDate, sd.CatalogID 
		from [saledetail] sd
		inner join sale s on s.[TransactionID]=sd.[TransactionID]
		WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile)
		UNION ALL
		SELECT CAST(p.PurchaseDate AS DATE) AS CatalogDate , pd.CatalogID
		from [PurchaseDetail] pd
		inner join Purchase p on p.[PurchaseNo]=pd.[PurchaseNo]
		WHERE p.PurchaseNo NOT IN (SELECT DISTINCT PurchaseNo FROM reconcile)
		UNION ALL
		SELECT CAST(stockDate AS DATE) AS CatalogDate, CatalogID FROM CatalogStock
		where stock >0
	) t
) dates
JOIN [Catalog] ctl ON ctl.ID = dates.CatalogID
) Main
LEFT JOIN catalogstock cs ON Main.CatalogID =cs.CatalogID AND cs.StockDate = Main.CatalogDate

/*************************************************/
LEFT JOIN (
	SELECT SUM(pd.Qty) AS Qty, CatalogID,  CAST(p.PurchaseDate AS DATE)  AS StockDate FROM purchasedetail pd
	INNER JOIN Purchase p ON p.PurchaseNo= pd.PurchaseNo
	WHERE p.PurchaseNo NOT IN (SELECT DISTINCT PurchaseNo FROM reconcile)
	GROUP BY CatalogID , CAST(p.PurchaseDate AS DATE) 
) k ON k.CatalogID=  Main.CatalogID AND  CAST(Main.CatalogDate AS DATE)= k.StockDate
/*************************************************/

/*************************************************/
LEFT JOIN (
	SELECT SUM(pd.Quantity) AS Qty, CatalogID , CAST(s.TransactionDate  AS DATE)   AS StockDate  FROM saledetail pd
	INNER JOIN Sale s ON s.TransactionID = pd.TransactionID
	WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile)
	GROUP BY CatalogID, CAST(s.TransactionDate AS DATE) 
) t ON t.CatalogID=  Main.CatalogID AND CAST(Main.CatalogDate AS DATE)= t.StockDate
/*************************************************/

LEFT JOIN (
	SELECT SUM(sd.Quantity) AS TotalSale,  CAST(s.TransactionDate AS DATE) AS TransactionDate, sd.CatalogID FROM  SaleDetail sd
	INNER JOIN Sale s ON sd.TransactionID =s.TransactionID 
	WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile)
	GROUP BY CAST(s.TransactionDate AS DATE), sd.CatalogID
) s ON s.CatalogID =Main.CatalogID  AND s.TransactionDate=Main.CatalogDate

LEFT JOIN (
	SELECT SUM(pd.Qty) AS TotalPurchase,  CAST(p.PurchaseDate AS DATE) AS PurchaseDate, pd.CatalogID FROM  PurchaseDetail pd
	INNER JOIN Purchase p ON pd.PurchaseNo =p.PurchaseNo
	WHERE p.PurchaseNo NOT IN (SELECT DISTINCT PurchaseNo FROM reconcile)
	GROUP BY CAST(p.PurchaseDate AS DATE), pd.CatalogID
) p ON p.CatalogID =Main.CatalogID AND p.PurchaseDate=Main.CatalogDate


WHERE cast( Main.CatalogDate as date ) BETWEEN @startDate AND @endDate
ORDER BY Main.CatalogDate DESC, Main.CatalogID

end
GO
