SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertPrevillage]
@MenuID int
           ,@RoleID int
           ,@AllowCreate bit
           ,@AllowRead bit
           ,@AllowUpdate bit
           ,@AllowDelete bit
           ,@AllowPrint bit
as
begin

INSERT INTO Previllage
           (MenuID
           ,RoleID
           ,AllowCreate
           ,AllowRead
           ,AllowUpdate
           ,AllowDelete
           ,AllowPrint)
     VALUES
           (@MenuID
           ,@RoleID
           ,@AllowCreate
           ,@AllowRead
           ,@AllowUpdate
           ,@AllowDelete
           ,@AllowPrint)

end


GO
