SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetCstmPurchasePaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as 

begin

SELECT p.*,CASE WHEN p.createdby ='system' THEN 'System' ELSE s.Name END AS SupplierName FROM Purchase  p
LEFT JOIN Supplier s ON s.Code = p.SupplierCode

WHERE ( p.Notes LIKE concat ('%', @text ,'%') OR s.Name  LIKE concat ('%', @text ,'%') )
and p.purchaseno NOT IN( SELECT DISTINCT purchaseno FROM reconcile)


select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY PurchaseDate desc 
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp


end






GO
