SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InserCatalogstock]
@CatalogID int
,@Stock decimal(18,2)
,@StockDate date
,@CreatedBy varchar(50)
--,@IsActive int
,@colly decimal(18,2)
as

begin
INSERT INTO catalogstock 
	(CatalogID, 
	Stock, Colly,
	StockDate, 
	CreatedBy, IsActive )
	VALUES
	(@CatalogID, 
	@Stock, @Colly, 
	@StockDate, 
	@CreatedBy, 1 );

end
GO
