SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateCustomer]
@ID int
,@FullName varchar(500) 
,@Address varchar(2000) 
,@Phone varchar(50) 
--,@CreatedBy varchar(50) 
--,@CreatedDate datetime 
,@ModifiedBy varchar(50) 
--,@ModifiedDate datetime
as
begin


UPDATE customer 
	SET	
	FullName = @FullName ,  Address =@Address ,  Phone = @Phone ,ModifiedDate = getdate() ,ModifiedBy = @ModifiedBy
	WHERE ID = @ID ;

end
GO
