SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetGPPermonth]

 @CurrentDate  date 
as
begin          

SELECT sd.TransDate,sd.Purchase,
 c.Name Item,  c.ID ItemID, c.Unit, Quantity, h.TotalHPP HPP, 0 Sale, 0 GrossProfit
 FROM dailygrossprofit sd
 INNER JOIN Catalog c  ON c.ID = sd.CatalogID
LEFT JOIN HPP h ON cast(h.TransDate as date)  = cast(sd.TransDate as date) AND  h.CatalogID = sd.CatalogID

WHERE FORMAT( sd.TransDate, 'MM/yyyy') =  FORMAT( @CurrentDate, 'MM/yyyy')

end



GO
