SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_IsExistDailyGrossProfit]

@TransDate datetime
,@CatalogID int =0
as
begin
SELECT count(1) as exist FROM dailygrossprofit WHERE cast(TransDate as date) = cast(@TransDate as date) AND  CatalogID = @CatalogID
end

GO
