SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetSaleByTransactionID]

@TransactionID varchar(50)
as
begin
	SELECT * from Sale WHERE TransactionID = @TransactionID
end



GO
