SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetHPPTablePerMonth]

 @CatalogId  int 
 , @currentDate date
as
begin          


SELECT  CatalogId, c.Name AS CatalogName,   
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '01' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col1,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '02' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col2,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '03' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col3,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '04' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col4,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '05' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col5,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '06' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col6,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '07' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col7,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '08' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col8,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '09' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col9,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '10' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col10,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '11' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col11,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '12' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col12,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '13' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col13,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '14' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col14,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '15' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col15,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '16' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col16,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '17' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col17,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '18' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col18,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '19' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col19,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '20' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col20,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '21' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col21,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '22' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col22,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '23' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col23,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '24' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col24,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '25' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col25,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '26' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col26,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '27' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col27,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '28' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col28,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '29' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col29,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '30' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col30,
   (SELECT TotalHPP FROM hpp WHERE FORMAT(TransDate, 'dd' ) = '31' AND CatalogId=@CatalogId and FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') ) AS col31
FROM hpp 
INNER JOIN Catalog c ON c.id = hpp.CatalogID
WHERE FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') 
and  CatalogId=@CatalogId
GROUP BY CatalogId ,  c.Name


end



GO
