SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetRoleByUsername]
@Username varchar(50)
as
begin

SELECT r.*
  FROM UserRole
  INNER JOIN Role r ON r.ID = RoleID
  WHERE UserRole.Username =@Username

end
GO
