SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_InsertPurchase]
@PurchaseNo varchar(100)
           ,@PurchaseDate datetime
           ,@Notes varchar(max)=null
           ,@CreatedDate datetime
           ,@CreatedBy varchar(50)
           ,@SupplierCode varchar(50)=null
           ,@TotalQty decimal(18,2)
           ,@TotalPrice decimal(18,2)
as
begin


INSERT INTO purchase 
	(PurchaseNo, 
	PurchaseDate, 
	Notes, 
	CreatedDate, 
	CreatedBy, 
	SupplierCode, 
	TotalQty, 
	TotalPrice
	)
	VALUES
	(@PurchaseNo, 
	@PurchaseDate, 
	@Notes, 
	@CreatedDate, 
	@CreatedBy, 
	@SupplierCode, 
	@TotalQty, 
	@TotalPrice
	);

end
GO
