SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--drop proc [Usp_GetCatalogPrice]
CREATE proc [Usp_GetCatalogPriceByCatalogID]
@CatalogID int
as
begin
SELECT top 1 * FROM CatalogPrice WHERE CatalogID=@CatalogID
ORDER BY PriceDate desc
end

            
GO
