SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetHPPPerMonth]
@currentDate date 
as
begin
 
 SELECT hpp.*, c.name AS CatalogName FROM hpp    
 LEFT JOIN Catalog c ON c.ID= hpp.CatalogID   
 WHERE FORMAT(TransDate, 'MM/yyyy') = FORMAT(@currentDate,'MM/yyyy') 

end



GO
