SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetCurrentStockByCatalogIDAndDate]
@catalogID int
,@TransDate date
as
begin


SELECT c.ID AS CatalogID, c.Name AS CatalogName, 
c.Unit, 0 +(CASE WHEN cs.Stock  IS NULL THEN 0 ELSE cs.Stock  END ) +  (CASE WHEN k.Qty IS NULL THEN 0 ELSE k.Qty END ) - (CASE WHEN t.Qty IS NULL THEN 0 ELSE t.Qty END )AS Stock , cs.StockDate,
0 +(CASE WHEN cs.Colly  IS NULL THEN 0 ELSE cs.Colly  END ) +  (CASE WHEN k.coli IS NULL THEN 0 ELSE k.coli END ) - (CASE WHEN t.coli IS NULL THEN 0 ELSE t.coli END )AS Coli 
FROM [Catalog] c 
LEFT JOIN CatalogStock cs ON cs.CatalogID = c.ID
AND  CAST(cs.StockDate AS DATE) <=@TransDate
AND cs.CatalogID =@CatalogID
AND IsActive = 1
LEFT JOIN (
SELECT SUM(pd.Qty) AS Qty, pd.coli, CatalogID FROM purchasedetail pd
INNER JOIN Purchase p ON p.PurchaseNo =pd.PurchaseNo
WHERE CAST(p.PurchaseDate AS DATE) <=@TransDate
AND CatalogID =@CatalogID
GROUP BY CatalogID, pd.coli
) k ON k.CatalogID= c.ID

LEFT JOIN (

SELECT SUM(sd.Quantity) AS Qty, sd.Coli, CatalogID FROM saledetail sd
INNER JOIN Sale s ON s.TransactionID = sd.TransactionID
WHERE CAST(s.TransactionDate AS DATE) <=@TransDate
AND CatalogID =@CatalogID
GROUP BY CatalogID, sd.Coli
) t ON t.CatalogID= c.ID
WHERE c.ID =@CatalogID

end
GO
