SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetCatalogReconcilePrice]
@catalogID int
as
begin

SELECT top 5 pd.*,c.Name AS CatalogName, p.PurchaseDate FROM Purchase  p
LEFT JOIN Supplier s ON s.Code = p.SupplierCode
LEFT JOIN purchasedetail pd ON pd.PurchaseNo =p.PurchaseNo 
INNER JOIN Catalog c ON c.ID =pd.CatalogID
WHERE pd.CatalogID = @catalogID
ORDER BY p.PurchaseDate desc

end
GO
