SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalSalePermonth]

 @TransDate  date 
as
begin
 
SELECT SUM( s.totalPrice) TotalSale ,cast ( s.TransactionDate as date)  TransDate FROM Sale s
WHERE s.username !='system'
AND FORMAT(  s.TransactionDate, 'MM/yyyy') =  FORMAT( @TransDate, 'MM/yyyy')
GROUP BY cast ( s.TransactionDate as date) 
          

end



GO
