SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_GetTotalSalesPeritemPerMonth]
 @startDate date
 ,@endDate  date
as 
begin

--drop table #Convertion
 select distinct con.* into #Convertion from [v_Catalog_Convertion_Kg_to_Other_Unit] con
inner JOIN SaleDetail sd on sd.CatalogID = con.ProductId
INNER JOIN Sale s ON s.transactionID = sd.transactionID
INNER JOIN [Catalog] c ON sd.CatalogID = c.ID
WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile ) and lower( c.type) ='product'
AND CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate 
and sd.totalprice >0


SELECT SUM(sd.totalprice) AS Sale,
SUM(sd.Quantity) as Quantity,
FORMAT(s.transactiondate,'MMM yyyy') AS MONTH_YEAR,
cast(s.transactiondate as date) AS TransDate,
c.Name AS Item, lower( c.Unit) Unit,  sd.CatalogID  AS ItemID
FROM SaleDetail sd
INNER JOIN Sale s ON s.transactionID = sd.transactionID
INNER JOIN [Catalog] c ON sd.CatalogID = c.ID
WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile ) --and lower( c.type) ='item'
and sd.CatalogID not in (select ProductId from #Convertion) 
AND CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate 
GROUP BY  FORMAT(s.transactiondate,'MMM yyyy'),cast(s.transactiondate as date),c.Name,c.Unit,sd.CatalogID

union all



SELECT SUM(sd.totalprice) AS Sale,
SUM( sd.Quantity * a2.Product_KgPerUnit) as Quantity,
FORMAT(s.transactiondate,'MMM yyyy') AS MONTH_YEAR,
 cast(s.transactiondate as date) AS TransDate,
c.Name AS Item, lower( c.Unit) Unit,  sd.CatalogID  AS ItemID
FROM SaleDetail sd
INNER JOIN Sale s ON s.transactionID = sd.transactionID
cross apply ( 
	SELECT TOP 1 * FROM #Convertion 
	WHERE ProductID = sd.CatalogID 
	order by convertion_date desc
	) as a2 
INNER JOIN [Catalog] c ON sd.CatalogID = c.ID
WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile ) and lower( c.type) ='product'
AND CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate 
GROUP BY  FORMAT(s.transactiondate,'MMM yyyy'),cast(s.transactiondate as date),c.Name,c.Unit,sd.CatalogID


drop table #Convertion
end

GO
