SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetReconcilePaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT * 
INTO #temp
FROM reconcile
WHERE [Description] LIKE CONCAT ('%', @text ,'%')


select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY ID DESC
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
