SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_UpdateSale]

 @TransactionID varchar(50),
           @TotalPrice decimal(18,2),
           @TotalQty varchar(1000),
           @Terminal varchar(50),
           @TotalPayment decimal(18,2),
           @TotalPaymentReturn decimal(18,2),
           @Notes varchar(max),
           @PaymentType int,
           @UpdatedDate datetime,
           @UpdatedBy varchar(50)
as
begin

UPDATE sale 
	SET
	TotalPrice = @TotalPrice , 
	TotalQty = @TotalQty , 
	Terminal = @Terminal , 
	TotalPayment = @TotalPayment , 
	TotalPaymentReturn = @TotalPaymentReturn , 
	Notes = @Notes , 
	PaymentType = @PaymentType , 
	UpdatedDate = @UpdatedDate , 
	UpdatedBy = @UpdatedBy	
	WHERE
	TransactionID = @TransactionID ;
end



GO
