SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_DeleteTransactionByReconcileID]
@ReconcileID int
as
begin

DELETE FROM purchasedetail
WHERE PurchaseNo IN (SELECT purchaseno FROM reconcile WHERE ID=@ReconcileID);

DELETE FROM purchase
WHERE PurchaseNo IN (SELECT purchaseno FROM reconcile WHERE ID=@ReconcileID);

DELETE FROM saledetail
WHERE TransactionID IN (SELECT transactionid FROM reconcile WHERE ID=@ReconcileID);

DELETE FROM sale
WHERE TransactionID IN (SELECT transactionid FROM reconcile WHERE ID=@ReconcileID);

DELETE FROM reconciledetail WHERE ReconcileID =@ReconcileID;

DELETE FROM reconcile WHERE ID =@ReconcileID; 

end
GO
