SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetPrevillageByRoleMenu]
@RoleID int 
,@MenuID int
as
begin

SELECT *
  FROM Previllage
  where RoleID =@RoleID
  and MenuID =@MenuID

end
GO
