SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_DeletePurchaseDetail]
@PurchaseNo varchar(100)
as
begin

Delete from purchasedetail where PurchaseNo=@PurchaseNo

end
GO
