SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetCatalogStockByDate]
@CatalogID int
,@StockDate date
as
begin

SELECT * FROM catalogstock WHERE CatalogID=@CatalogID AND StockDate=@StockDate

end



GO
