SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertRole]
@Name varchar(100)
           ,@Description varchar(1000)
           --,@CreatedDate datetime
           ,@CreatedBy varchar(20)
           --,@ModifiedDate datetime
           --,@ModifiedBy varchar(20)
as
begin
     INSERT INTO [Role]
           (Name
           ,Description
           ,CreatedDate
           ,CreatedBy)
     VALUES
           (@Name
           ,@Description
           ,getdate()
           ,@CreatedBy)
end
GO
