SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [Usp_InsertUserRole]
 @Username varchar(50),
 @RoleID int
 
as 
begin
INSERT INTO UserRole
           (Username
           ,RoleID)
     VALUES
           (@Username
           ,@RoleID)

end
GO
