SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertLog]
           @ComputerName  varchar(100)
           ,@IPAddress  varchar(15)
           ,@LogType  varchar(50)
           ,@LogMessage  varchar(max)
           ,@Username  varchar(100)
		   as
begin


INSERT INTO [Log]
                                       (LogDate
                                       ,ComputerName
                                       ,IPAddress
                                       ,LogType
                                       ,LogMessage
                                       ,Username)
                                 VALUES
                                       (getdate()
                                       ,@ComputerName
                                       ,@IPAddress
                                       ,@LogType
                                       ,@LogMessage
                                       ,@Username)
end
GO
