SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertReconcile] 
@ProccessDate datetime
,@Description varchar(5000)

as 
begin
INSERT INTO reconcile 
	( 
	ProccessDate, 
	[Description]
	)
	VALUES
	(
	@ProccessDate, 
	@Description
	);

SELECT * FROM reconcile WHERE id = scope_identity();
end
GO
