SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [Usp_InsertSupplier]
@Code varchar(50)
           ,@Name varchar(500)
           ,@Address varchar(max)
           ,@Phone varchar(20)
           ,@CellPhone varchar(20)
           --,@CreatedDate datetime
           ,@CreatedBy varchar(50)
           --,@ModifiedDate datetime
           --,@ModifiedBy varchar(50)
as
begin
INSERT INTO Supplier
           (Code,Name
           ,Address
           ,Phone
           ,CellPhone
           ,CreatedDate
           ,CreatedBy)
     VALUES
           (@Code,@Name
           ,@Address
           ,@Phone
           ,@CellPhone
           , getdate()
           ,@CreatedBy)
end



GO
