SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_InsertSaleDetail]
@TransactionID varchar(50)
           ,@CatalogID int
           ,@Price decimal(18,2)
           ,@Discount decimal(18,2)
           ,@Quantity decimal(18,2)
           ,@TotalPrice decimal(18,2)
           ,@Sequence int
as
begin
INSERT INTO saledetail 
	( 
	    TransactionID, 
	    CatalogID, 
	    Price, 
	    Discount, 
	    Quantity, 
	    TotalPrice,Sequence
	)
	VALUES
	(
	@TransactionID, 
	@CatalogID, 
	@Price, 
	@Discount, 
	@Quantity, 
	@TotalPrice,@Sequence
	);
end



GO
