SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_SaleDetailByTransactionID]
@TransactionID varchar(50)
as
begin

SELECT sd.*, c.Name AS CatalogName, c.Unit FROM SaleDetail sd
INNER JOIN Catalog c ON c.ID = sd.CatalogID
WHERE sd.TransactionID = @TransactionID 
end
GO
