SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_GetPurchaseByPurchaseNo]
@PurchaseNo varchar(100)=null
as
begin
SELECT * FROM Purchase
  where PurchaseNo =@PurchaseNo

end
GO
