SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_GetCustomerPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT *
into #temp
FROM Customer 
WHERE Fullname LIKE concat ('%', @text ,'%') 
OR [Address] LIKE concat ('%', @text ,'%') 
OR Phone LIKE concat ('%', @text ,'%') 

select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY Fullname
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
