SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetMenuPaging]

@text varchar(1000)
, @pageIndex AS INT=1
, @pageSize AS INT=10
, @totalRecord as int output
as
begin

SELECT 
m.*,
parent.Code ParentCode,
parent.Name ParentName,
parent.Description ParentDescription 	
into #temp  
FROM Menu m
left join Menu parent on parent.ID = m.ParentID
WHERE m.Name LIKE concat ('%', @text ,'%') 
OR m.Description LIKE concat ('%', @text ,'%') 
or parent.Name LIKE concat ('%', @text ,'%') 

select @totalRecord=count(1) from #temp

select * from #temp
ORDER BY [Sequence] 
OFFSET ((@pageIndex - 1) * @pageSize) ROWS
FETCH NEXT @pageSize ROWS ONLY;

drop table #temp
end
GO
