SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Usp_GetPiutang]
@startDate date
,@endDate date
as 
begin


SELECT cust.ID CustomerID, 
cust.Fullname AS CustomerName, 
 s.TransactionID,
s.transactiondate AS TransDate,
s.TotalPrice,
s.TotalPayment,
CASE WHEN (s.TotalPrice - s.TotalPayment) >0 THEN (s.TotalPrice - s.TotalPayment) ELSE 0 END AS Piutang,
s.ExpiredDate
FROM  Sale s 
LEFT JOIN Customer cust ON cust.ID =s.MemberID 

WHERE s.transactiondate BETWEEN @startDate AND @endDate
and (s.TotalPrice - s.TotalPayment) > 0

end

GO
