SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Usp_GetTotalSalePerCatalog]
 @startDate date
 ,@endDate  date
as 
begin


SELECT SUM(sd.totalprice) AS Sale,
SUM(sd.Quantity) as Quantity,
FORMAT(s.transactiondate,'MMM yyyy') AS MONTH_YEAR,
FORMAT(s.transactiondate,'yyyy/MM/01') AS TransDate,
c.Name AS Item, c.Unit,  sd.CatalogID  AS ItemID
FROM SaleDetail sd
INNER JOIN Sale s ON s.transactionID = sd.transactionID
INNER JOIN Catalog c ON sd.CatalogID = c.ID
WHERE s.TransactionID NOT IN (SELECT DISTINCT TransactionID FROM reconcile )
AND CAST(s.TransactionDate  AS DATE) BETWEEN @startDate AND @endDate 
GROUP BY 
FORMAT(s.transactiondate,'MMM yyyy'),FORMAT(s.transactiondate,'yyyy/MM/01'),c.Name,c.Unit,sd.CatalogID

end
GO
