SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [Usp_InsertMenu]
@Code varchar(100) ='' ,
@Name varchar(500) ='' ,
@ParentID int =0 ,
@Sequence int =0 ,
--@Ico image=null ,
@Description varchar(max)='' ,
@CreatedBy varchar(50)='' 
as
begin
INSERT INTO Menu
           (Code
           ,Name
           ,Description
           ,ParentID
           ,Sequence
           --,Ico
		   ,CreatedBy, CreatedDate  )
     VALUES
           (@Code
           ,@Name
           ,@Description
           ,@ParentID
           ,@Sequence
           --,@Ico
		   ,@CreatedBy, getdate() )

end
GO
