USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[catalogstock]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[catalogstock](
	[CatalogID] [int] NULL,
	[Stock] [decimal](18, 2) NULL,
	[StockDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[IsActive] [int] NOT NULL,
	[colly] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
