USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[log]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[log](
	[LogDate] [datetime] NULL,
	[ComputerName] [varchar](100) NULL,
	[IPAddress] [varchar](15) NULL,
	[LogType] [varchar](50) NULL,
	[LogMessage] [varchar](max) NULL,
	[Username] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
