USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[purchasedetail]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[purchasedetail](
	[PurchaseNo] [varchar](100) NOT NULL,
	[CatalogID] [int] NOT NULL,
	[Qty] [decimal](18, 2) NULL,
	[PricePerUnit] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[Unit] [varchar](50) NULL,
	[coli] [decimal](18, 2) NULL,
 CONSTRAINT [PK_purchasedetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
