USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[dailygrossprofit]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dailygrossprofit](
	[TransDate] [datetime] NOT NULL,
	[CatalogID] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Purchase] [decimal](18, 2) NULL,
	[Sale] [decimal](18, 2) NULL,
	[GrossProfit] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dailygrossprofit] PRIMARY KEY CLUSTERED 
(
	[TransDate] ASC,
	[CatalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
