USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[saledetail]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[saledetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [varchar](50) NULL,
	[CatalogID] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[Sequence] [int] NULL,
	[coli] [decimal](18, 2) NULL,
 CONSTRAINT [PK_saledetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
