USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[CurrentStock]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentStock](
	[CatalogID] [int] NULL,
	[Stock] [decimal](18, 2) NULL,
	[Coli] [decimal](18, 2) NULL,
	[StockDate] [date] NULL
) ON [PRIMARY]

GO
