USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[CatalogPrice]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatalogPrice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CatalogID] [int] NULL,
	[BuyPricePerunit] [decimal](18, 2) NULL,
	[SellPrice] [decimal](18, 2) NULL,
	[PriceDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[SupplierCode] [varchar](50) NULL,
 CONSTRAINT [PK_CatalogPrice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
