USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[sale]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sale](
	[TransactionID] [varchar](50) NOT NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[TotalQty] [varchar](1000) NULL,
	[TransactionDate] [datetime] NULL,
	[Username] [varchar](50) NULL,
	[MemberID] [int] NULL,
	[Terminal] [varchar](50) NULL,
	[TotalPayment] [decimal](18, 2) NULL,
	[TotalPaymentReturn] [decimal](18, 2) NULL,
	[Notes] [varchar](max) NULL,
	[PaymentType] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[ExpiredDate] [datetime] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_sale] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
