USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[reconciledetail]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reconciledetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CatalogID] [int] NULL,
	[CatalogQty] [decimal](18, 2) NULL,
	[CatalogPrice] [decimal](18, 2) NULL,
	[ProductID] [int] NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[ProductQty] [decimal](18, 2) NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ReconcileID] [bigint] NULL,
	[CatalogPriceDate] [datetime] NULL,
 CONSTRAINT [PK_reconciledetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
