USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[reconcile]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reconcile](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProccessDate] [datetime] NULL,
	[Description] [varchar](5000) NULL,
	[purchaseno] [varchar](100) NULL,
	[transactionid] [varchar](100) NULL,
 CONSTRAINT [PK_reconcile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
