USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[previllage]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[previllage](
	[MenuID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AllowCreate] [bit] NULL,
	[AllowRead] [bit] NULL,
	[AllowUpdate] [bit] NULL,
	[AllowDelete] [bit] NULL,
	[AllowPrint] [bit] NULL,
 CONSTRAINT [PK_previllage] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
