USE [DBSENDANGREJEKI]
GO
/****** Object:  Table [dbo].[hpp]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hpp](
	[TransDate] [date] NOT NULL,
	[TotalHPP] [decimal](18, 2) NULL,
	[CatalogId] [bigint] NOT NULL,
	[PrevStock] [decimal](18, 2) NULL,
	[PrevHPP] [decimal](18, 2) NULL,
	[TotalQty] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_hpp] PRIMARY KEY CLUSTERED 
(
	[TransDate] ASC,
	[CatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
