USE [DBSENDANGREJEKI]
GO
/****** Object:  View [dbo].[v_Catalog_Convertion_Kg_to_Other_Unit]    Script Date: 27/07/2024 14.30.21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_Catalog_Convertion_Kg_to_Other_Unit]
as 

select t.ProductID , CatalogQty CatalogQty_Kg,
--,CatalogPrice, 
cast ((case when lower( t2.Unit) <>'kg' then cast(CatalogQty as decimal)/cast( ProductQty as decimal) else CatalogQty end) as  decimal(18,2)) Product_KgPerUnit, 
ProductQty
--,(cast(CatalogQty as decimal) * CatalogPrice /ProductQty) Product_PricePerUnit
, Convertion_Type = concat( t1.Unit, ' --> ', t2.Unit) , cast( t.CreatedDate as date ) as  convertion_date
 from reconciledetail t 
 left join [Catalog] t1 on t.CatalogID  = t1.ID
 left join [Catalog] t2 on t.ProductID  = t2.ID
 where lower( t1.Unit) ='kg'  and lower(t1.[type])='item'
 --and  lower( t2.Unit) <>'kg'


GO
